body {
    margin: 0;
    background-color: #F0F0F0;
    font-family: 'Liberation Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

#images {
    margin: 0 auto;
    padding: 0;
    width: 640px;
    list-style-type: none;
}